<%= form_for @banco, :as => :banco do |f| %>
  <% if @banco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banco.errors.count, "erro") %> impediram este Banco de ser salvo:</h2>

      <ul>
      <% @banco.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tbody>
      <tr class="field">
      	<td><%= f.label :nome %></td>
      	<td><%= f.text_field :nome %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :descricao %></td>
        <td><%= f.text_area :descricao, :size => '50x6' %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :numero %></td>
        <td><%= f.text_field :numero %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
