<h1>Bancos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bancos.each do |banco| %>
  <tr>
    <td><%= banco.nome %></td>
    <td><%= banco.numero %></td>
    <td><%= link_to 'Exibir', banco %></td>
    <td><%= link_to 'Editar', edit_financeiro_banco_path(banco) %></td>
    <td><%= link_to 'Excluir', banco, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Banco', new_financeiro_banco_path %>
