<h1>Listing financeiro_bancos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @financeiro_bancos.each do |financeiro_banco| %>
  <tr>
    <td><%= financeiro_banco.nome %></td>
    <td><%= financeiro_banco.numero %></td>
    <td><%= link_to 'Show', financeiro_banco %></td>
    <td><%= link_to 'Edit', edit_financeiro_banco_path(financeiro_banco) %></td>
    <td><%= link_to 'Destroy', financeiro_banco, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Banco', new_financeiro_banco_path %>
