<h1><%= plural_table_name %></h1>

<table>
  <tr>
<% attributes.each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% attributes.each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to 'Exibir', <%= singular_table_name %> %></td>
    <td><%%= link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
    <td><%%= link_to 'Excluir', <%= singular_table_name %>, <%= key_value :confirm, "'Tem certeza?'" %>, <%= key_value :method, ":delete" %> %></td>
  </tr>
<%% end %>
</table>

<br />

<%%= link_to 'Novo <%= human_name %>', new_<%= singular_table_name %>_path %>
