<% puts  %>
<!DOCTYPE html>
<html>
<head>
  <title>Fagan</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="page">
		<header id="header" class="pageWidth">
			<div id="logo">
				<a href="."><%= image_tag "/images/Fagan.jpg" %></a>
			</div>
			<nav id="headerMenu">
				<ul id="menu">
				<% if modulos %>
					<% for modulo in modulos %>
					   <%= link_to ("<li class='menuItem" << "' >" << modulo.rotulo << "</li>").html_safe, send(modulo.nome << "_path") %>
					<% end %>
				<% end %>
				</ul>
			</nav>
			<div id="headerLogin">
				<% usuario = usuario_atual %>
				<% if usuario %>
					<div id="user">
						<%= usuario.login %>
					</div>
					<div id="loginAction">
						<%= link_to "Logout", "/logout" %>
					</div>
				<% else %>
					<div id="loginAction">
						<%= link_to "Login", "/login" %>
					</div>
				<% end %>
			</div>
		</header>
		<div id="main" class="pageWidth">
			<nav id="left">
				<ul id="context">
				    <% if submodulos %>
                        <% for submodulo in submodulos %>
                            <%= link_to ("<li class='contextItem" << "' >" << submodulo.rotulo << "</li>").html_safe, send(session[:modulo] + "_" + submodulo.nome + "_path") %>
                        <% end %>
                    <% end %>
				</ul>
			</nav>
			<div id="body">
				
<%= yield %>

			</div>
		</div>
		<footer id="footer" class="pageWidth">
			<span>Desenvolvido por ezio137</span>
		</footer>
	</div>

</body>
</html>
